@use "./theme/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");

:root {
    --p-select-option-selected-background: $basic !important;
    --p-select-option-selected-focus-background: $basic !important;
    --p-select-option-selected-focus-color: #fff !important;
    --p-select-option-selected-color: #fff !important;
    --p-select-placeholder-color: #fff !important;
    --p-select-color: #fff !important;
    --p-rating-icon-hover-color: $basic !important;
    --p-rating-icon-active-color: $basic !important;
    --p-rating-icon-size: 20px !important;
    --p-rating-gap: 5px !important;
}

#awn-toast-container {
    right: 40% !important;
    top: 40% !important;

    @media (max-width: 992px) {
        right: 7% !important;
        top: 40% !important;
    }
}

.pointer {
    cursor: pointer !important;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@mixin vertical-scrollbar($width, $bgTrack, $bgTumb, $bgHover) {
    &::-webkit-scrollbar {
        width: $width;
    }
    &::-webkit-scrollbar-track {
        background: $bgTrack;
    }
    &::-webkit-scrollbar-thumb {
        background: $bgTumb;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $bgHover;
    }
}


@mixin horizontal-scrollbar($height, $bgTrack, $bgTumb, $bgHover) {
  &::-webkit-scrollbar {
    height: $height;
  }
  &::-webkit-scrollbar-track {
    background: $bgTrack;
  }
  &::-webkit-scrollbar-thumb {
    background: $bgTumb;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $bgHover;
  }
}

@font-face {
    font-family: Poppins;
    src: url("../Fonts/en/Poppins-Black.ttf");
    src: url("../Fonts/en/Poppins-Bold.ttf");
    src: url("../Fonts/en/Poppins-Medium.ttf");
    src: url("../Fonts/en/Poppins-Regular.ttf");
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    src: url("../Fonts/ar/The-Sans-Plain-alinma.ttf");
    font-family: alinma;
    font-display: swap;
    unicode-range: U+0600-06FF;
}

body,
* {
    @include vertical-scrollbar(4px, "#f7eb87", $main, "#b79a00");
    @include horizontal-scrollbar(4px, "#f7eb87", $main, "#b79a00");

    *::selection {
        color: #fff;
        background: $main;
    }
    /* For Mozilla Firefox */
    *::-moz-selection {
        color: #fff;
        background: $main;
    }
}

.bodyAR {
    font-family: alinma, "Arial", "sans-serif";
    direction: rtl;
}

.bodyEN {
    direction: ltr;
    font-family: Poppins, sans-serif;
}

.form-control:focus,
.form-select:focus {
    outline: none;
    box-shadow: none;
}

.form-select-en {
    background-position: right 0.75rem center !important;
}

.form-select-ar {
    background-position: left 0.75rem center !important;
}
.form-control {
    padding-right: 0 !important;
    padding-inline-start: 0.75rem !important;
    padding-inline-end: calc(0.75rem + 1.5rem) !important;
}
.text-start {
    text-align: justify !important;
}
.help {
    font-size: 14px;
}

input,
textarea {
    padding: 7px 14px;
    border-radius: 6px;
    border: 1px solid #c5c5c5;
    transition: all 0.2s linear;
    color: #333;
    background-color: #fff !important;
    &:hover {
        border: 1px solid #898989;
    }

    &:focus,
    &:focus-visible {
        box-shadow: 0px 2px 6px rgba(4, 119, 81, 0.3);
        border: 1px solid #19ad7b;
        border-radius: 6px;
        outline: 0;

        + label {
            color: #19ad7b;
        }
        &::placeholder {
            padding-inline-start: 4px !important;
        }
    }
    &::placeholder {
        color: #c5c5c5;
        font-size: 15px;
        transition: all 0.2s linear;
    }
}

.bodyAR {
    input,
    textarea {
        + label {
            direction: rtl;
        }
    }
}
.contain {
    margin-top: 120px !important;
    min-height: calc(100vh - 120px) !important;
}
.drop-area {
    width: 100%;
    height: 300px;
    border: 2px dashed rgb(102 255 204 / 46%);
    border-radius: 6px;
    text-align: center;
    transition: all 0.2s linear;
    &:hover {
        box-shadow: 0px 2px 6px rgba(4, 119, 81, 0.3);
    }
    .upload-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .upload-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            margin-bottom: 5px;
            background-color: rgb(102 255 204 / 46%);
            border-radius: 6px;
            svg {
                color: #19ad7b;
                font-size: 20px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.bodyAR {
    .contain {
        float: left !important;
        &.shrink {
            float: left !important;
        }
    }
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

// dialog
.p-dialog {
    background: #fff !important;
    color: #333 !important;
}
.p-dialog-close-button {
    transition: all 0.2s linear !important;
    &:hover {
        color: #fff !important;
        background-color: #19ad7b !important;
    }
}
.dialog {
    padding: 30px;
    overflow-y: auto;
    font-family: alinma;
}
